---
title: Welcome to Middleman
---

<div class="welcome">
  <h1 class="title">デプロイガールズ テスト用のミドルマン</h1>
  <p class="doc">
    おもちるの感想を書くサイトを作る！
    わわわわおーん
  </p><!-- .doc -->
</div><!-- .welcome -->
