---
title: Welcome to Middleman
---

<div class="welcome">
  <h1 class="title">デプロイガールズ テスト用のミドルマン</h1>
  <p class="doc">
    おもちの感想を書くサイトを作る！
    にゃにゃにゃーん　おもちが活躍する日が！
  </p><!-- .doc -->
</div><!-- .welcome -->
